
.text{
    color: white;
    font-family: sans-serif;

}

.greenbg{
    background-color: palegreen;
}

#ginger{
    background-color: rgb(243, 209, 145);
}


#firstdiv{
    background-color: rgb(230, 230, 255);
}
h1{
    color: rgb(57, 17, 122);
    font-family: fantasy;
}

body{
    background-color: rgb(183, 183, 250);
}